<div class="header container-fluid">
	<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Conditions générales de vente</h1>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">

	<p>Veuillez lire attentivement ces conditions générales de vente et la Foire aux questions avant de vous inscrire sur le site Event Izir. L'utilisation de la plateforme Event Izir pour la gestion indique que vous acceptez ces conditions générales. Tout désaccord avec ces conditions indique que vous ne pas vous inscrire. Ces conditions générales de vente sont valables à partir du moment où l'organisateur inscrit son épreuve jusqu'au moment où elle se termine. Ces Conditions générales de vente pouvant faire l'objet de modifications, les conditions applicables sont celles en vigueur sur le site à l'adresse http://event.izir.fr/CGV.</p>

	<h2>Objet du service</h2>

	<p>Event Izir met à disposition des organisateurs une plateforme pour la gestion et la promotion de leur épreuve sportive ou de loisirs via le site Web Event Izir (http://www.event.izir.fr).</p>

	<h2>Responsabilités de l'organisateur</h2>

	<p>Tout utilisateur, ci-après appeler organisateur, passant par la plateforme Event Izir pour ajouter une épreuve atteste sur l'honneur être majeur et disposer des droits et autorisations nécessaires pour publier ces contenus.</p>
	<p>En déclarant son épreuve sur Event Izir, l'organisateur assure à Event Izir qu'il est le réel organisateur de l'épreuve et qu'il détient ainsi tous les droits pour l'organisation de l'épreuve. Il déclare aussi fournir les informations exactes pour tous les éléments permettant de paramétrer son épreuve (dates, prix, descriptifs...). En cas de fraude avérée sur ces informations, Event Izir se réserve le droit de supprimer immédiatement l'épreuve en ligne et de poursuivre l'organisateur. L'organisateur déclare aussi détenir les droits (notamment de propriété intellectuelle) sur tous les documents mis à disposition sur le site (photos, informations personnelles, plans, règlements...). De plus ces documents doivent être conformes à la législation française en vigueur. Par l'acceptation des ces conditions générales de vente par l'organisateur, celui-ci décharge Event Izir de toute responsabilité des documents mis en ligne par l'organisateur.</p>
	<p>En cas d’annulation de l’événement, quels qu’en soit les motifs, les commissions prélevées lors des paiements restent dues. Il conviendra à l’organisateur de rembourser les sportifs par ses propres moyens.
	<p>L’organisateur devra insérer dans un règlement à faire valider par le sportif, les dispositions liées à une telle annulation afin que ce dernier soit informé du risque qu’il encourt en cas d’annulation.</p>

	<h2>Responsabilités du participant</h2>

	<p>Tout utilisateur, ci-après appeler participant, passant par la plateforme Event Izir pour s'inscire à une épreuve atteste sur l'honneur être majeur et disposer des droits et autorisations nécessaires pour la réalisation de son inscription.</p>
	<p>En s'inscrivant à une épreuve sur Event Izir, le participant assure à Event Izir qu'il détient tous les droits s'inscrire lui-même ou un tier à la-dite épreuve. Il déclare aussi fournir les informations exactes pour tous les éléments permettant de paramétrer son inscription (nom, prénom, âge, numéro de licence, certificat médical...). En cas de fraude avérée sur ces informations, Event Izir ne pourra être tenu responsable de la validité de ces informations et des conséquences physiques ou morales qu'elles peuvent avoir. Le participant déclare aussi détenir les droits (notamment de propriété intellectuelle) sur tous les documents mis à disposition sur le site (photos, informations personnelles, certificat médicale...). De plus ces documents doivent être conformes à la législation française en vigueur. Par l'acceptation des ces conditions générales de vente par le participant, celui-ci décharge Event Izir de toute responsabilité des documents mis en ligne par le participant.</p>
	<p>En cas d’annulation de l’événement, quels qu’en soit les motifs, il conviendra à l’organisateur de rembourser le participant par ses propres moyens.
	<p>L’acceptation de ces conditions générales de vente par le participant induit qu'il a pris connaissance du règlement mis à disposition par l'organisateur et son acceptation sans réserve.</p>

	<h2>Responsabilités de Event Izir</h2>

	<p>Event Izir, collecte l’ensemble des montants liés aux inscriptions en ligne. Le montant des inscriptions est disponible quinze jours après la date de clôture des inscriptions pour l'organisateur (en dehors des commissions prélevées par Event Izir).</p>
	<p>L’organisateur peut, en utilisant sa console d’administration, demander des reversements de ces sommes qui seront alors transférés par virement bancaire sur le RIB mentionné dans son espace organisateur dans les 72H. Event Izir ne pourrait être tenu responsable si les coordonnées présentes dans cet espace sont incorrectes.</p>

	<h2>Confidentialité des informations</h2>

	<p>L'organisateur dispose d'un compte personnel et unique sur Event Izir. La confidentialité des informations qu'il saisit est assurée par le choix d'un identifiant et d'un mot de passe. Ces informations de connection sont personnelles et ne saurait être transmises à un tiers. L'organisateur est seul responsable de ces informations et Event Izir décline toute responsabilité pour les conséquences engendrées par la transmission de ces informations à un tiers. Toutes les actions effectuées en utilisant le compte personnel de l'organisateur sont considérés comme effectuées par l'organisateur lui même.</p>

	<h2>Responsabilité technique</h2>

	<p>Event Izir s'engage à mettre en oeuvre tous les moyens dont il dispose pour assurer la continuité des services proposés à l'organisateur et la sauvegarde régulière des données. Toutefois, sa responsabilité ne saurait être engagée en cas de force majeure ou de faits indépendants de sa volonté; notamment dans le cas d'interruption des réseaux d'accès ou de défaillance du matériel serveur. L'accès au service est possible 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d'un évènement hors du contrôle de Event Izir et sous réserve des éventuelles interventions de maintenance nécessaires au bon fonctionnement du service et des matériels. L’organisateur peut régulièrement, s’il le souhaite, exporter toutes ses inscriptions pour en faire des sauvegardes au cas où un problème technique intervient sur Event Izir.</p>

	<h2>Inscription frauduleuse</h2>

	<p>Dans le cas où un participant s'inscrit, ne paye pas en ligne et ne se présente pas le jour de l'épreuve, Event Izir ne saurait être tenu responsable de cette inscription frauduleuse. C'est à l'organisateur de déterminer si cette inscription peut présenter un caractère non fiable.</p>

	<h2>Paiement en ligne</h2>

	<p>Conformément aux lois françaises en vigueur, le site Event Izir n'a, à aucun moment, connaissance des informations bancaires saisies par le participant. Ces informations bancaires sont gérées, lors du paiement en ligne par Stripe et son système sécurisé.</p>

	<h2>Clause attributive de compétence</h2>

	<p>Pour toutes contestations relatives aux ventes réalisées par Event Izir et à l'application ou à l'interprétation des présentes Conditions Générales de Vente, seul sera compétent le Tribunal de commerce de Vannes. Le site Event Izir appartient et est géré par : <br>
	REF SPORT PONTIVY<br>
	35 rue albert de mun<br>
	56300 Pontivy<br></p>

	<h2>Commissions</h2>

	<p>Les services de Event Izir sont gratuits mais de par les commissions sur les transactions bancaires, une commission est prélevée uniquement sur les inscriptions payées en ligne.<br>
	Event Izir s'engage à reverser le montant des inscriptions payées en ligne à l'organisateur en déduisant le montant des commissions fixés dans ce présent contrat. Une commision unique de 0,50 Euro par inscription payée en ligne dès le montant de 0 Euros<br></p>
	<p>Toute transaction bancaire donnera lieu à une commission même en cas de refus de la part de l'organisateur de la prendre en compte. Dans ce même cas, c'est l'organisateur qui remboursera le participant.
	En dehors de ces commissions, les services de Event Izir sont gratuits.</p>

	<h2>Décharges</h2>

	<p>L'organisateur se doit de vérifier toutes les informations fournies par les personnes inscrites via le site Event Izir. Malgré tous les contrôles mis en place, Event Izir ne saurait être tenu responsable d'informations obsolètes, erronées ou falsifiées. Cela inclus, entre autres, l'obligation pour l'organisateur de vérifier, si cela s'avère obligatoire, la validité du certificat médical présenté par le participant.</p>

	<h2>Données personnelles</h2>

	<p>L'organisateur accepte de communiquer à Event Izir les informations personnelles qu'il saisit. Il accepte également que les données personnelles des participants obtenues suite à une inscription soient exploitées par Event Izir. Event Izir est déclaré à la CNIL (Commission Nationale Informatique et Libertés) sous le numéro 1675833 et à ce titre est autorisé à conserver ces données sans limitation de durée et à les exploiter pour des usages internes (mailings, sondages...).</p>

	<h2>Publicité en ligne</h2>

	<p>Event Izir est seul responsable du choix des publicités visibles sur l'ensemble des pages du site notamment sur les pages concernant les épreuves déclarées par l'organisateur.</p>

	<h2>Promotion du site Event Izir par l'organisateur</h2>

	<p>L'organisateur, en échange des services mis à sa disposition, s'engage à faire la promotion du site Event Izir. Cela inclut : <br>
	- La mise en évidence du logo Event Izir sur son site Internet avec un lien vers la page décrivant la manifestation<br>
	- La mise en évidence du logo Event Izir sur toutes les affiches ou prospectus distribués pour faire la promotion de la manifestation<br>
	- La communication de l'adresse du site Web Event Izir (http://www.event.izir.fr) dans les bulletins d'inscription, articles de presse ou autres médias ...</p>
</div>