<div class="header container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Bienvenue sur Event izir !</h1>
      <p class="text-light">Event Izir est un service d'inscription et de gestion de manifestations sportives. Running, Trail, triathlon, Billetterie ... Votre prochaine épreuve sportive commence ici en toute sécurité !</p>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">
  <div class="row">
    <div class="col-md-4">
      <h2>100% gratuit pour l'organisateur</h2>
      <p>L'organisateur n'a aucun coût, abonnement ou frais de dossier lié aux inscriptions à ses évènements. Les frais de dossier de 0,50€ sont payés directement par le participant à Izir.fr lors de son inscription. Les frais de dossier sont dus par les participants. Ils sont exclus du tarif de l'évènement.</p>
      <p><a class="btn btn-secondary" href="/info/tarifs" role="button">Détails »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Confidentialité des données</h2>
      <p>Toutes les données récoltées sur Event Izir sont nécessaires pour la bonne gestion des évènements. Ces données sont stockées sur des serveurs sécurisés par notre prestataire technique "Heroku by Salesforce". Vos données personnelles sont gérées avec éthique. Elles ne sont vendues, ni divulguées à aucun tiers.</p>
      <p><a class="btn btn-secondary" href="/info/cgu" role="button">Détails »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Paiement sécurisé</h2>
      <p>Nous avons choisi la solution "STRIPE" comme prestataire pour la sécurisation de vos paiements. Cette solution déjà choisie par plus de 100 000 entreprises internationnales les plus innovantes du web comme: Kickstarter, Deliveroo, Drivy, Heetch, ... "STRIPE" garantit la sécurité de votre paiement et la protection de vos données bancaires.</p>
      <p><a class="btn btn-secondary" href="/info/securite" role="button">Détails »</a></p>
    </div>
  </div>
</div>
<div class="container-fluid spacer-lg-top bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 spacer-sm-top">
        <h2>Une entreprise made in Bretagne</h2>
        <p>Izir.fr est une plateforme e-commerce créée en 2013 à Auray (Bretagne), maintenant basée à Pontivy (centre Bretagne). Depuis ses débuts, l'entreprise est spécialisée dans la vente d'articles de sport outdoor: Cyclisme, Running et Randonnée. Sa relation de proximité avec les organisateurs d'évènements sportifs l'a amenée à concevoir une plateforme permettant aux organisateurs de gérer les inscriptions de leurs évènements en ligne à moindre coût.</p>
        <h2>Les partenaires du projet</h2>
        <p>Depuis l'initialisation du projet, nous travaillons en collaboration avec des acteurs importants de l'écosystème sportif Breton: <a href="http://www.runnerbreizh.fr/" alt="runnerbreizh.fr">runnerbreizh.fr</a> et "La Littorale 56". Cela nous permet de proposer aux organisateurs et aux sportifs, l'outil le plus accessible pour gérer leurs inscriptions sportives en ligne</p>
        <p>Côté sportif, nous sommes fières de compter comme soutien à ce projet le double champion du Monde de duathlon: Gael Le Bellec. Un ambassadeur à notre image : Ethique, Accessible et Travailleur</p>
        <p><a class="btn btn-secondary" href="/info/medias" role="button">La presse parle de nous »</a></p>
      </div>
      <div class="col-12 spacer-sm-top"></div>         
    </div>
  </div>
</div>