<div class="header container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Mention légales</h1>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">
	<h2>I. PROPRIÉTÉ</h2>

	<p>Le site izir.com est dénommé ci-après sous le nom de domaine avec l’extension générique  izir.tld</p>
	<p>izir.tld est la propriété exclusive de la société REF SPORT PONTIVY , domiciliée :<br>
	REF SPORT PONTIVY<br>
	35 Rue Albert de Mun<br>
	56300 Pontivy<br>
	France</p>
	<p>Directeur de publication : Mr Nicolas JOUANNO.</p>
	<p>Toute reproduction ou représentation totale ou partielle de ce site par quelque procédé que ce soit, sans l’autorisation expresse de la société REF SPORT PONTIVY est interdite et constituerait une contrefaçon sanctionnée par les article L 335-2 et suivants du Code de la propriété intellectuelle.</p>
	<p>Les marques de la société REF SPORT PONTIVY et de ses partenaires, ainsi que les logos figurant sur le site sont des marques déposées. Par ailleurs les images figurant sur le site sont protégées par le droit d’auteur. Toute reproduction totale ou partielle de ces images, de ces marques ou de ces logos, effectuée à partir des éléments du site sans l’autorisation expresse de la société REF SPORT PONTIVY ou de son ayant-droit, est donc prohibée, au sens de l’article L713-2 du CPI.</p>

	<h2>II. PRESTATAIRE TECHNIQUE (hébergeur)</h2>

	<p>HEROKU by Salesforce<a href="https://www.heroku.com/">www.heroku.com</a></p>

	<h2>III. OBJET DU SERVICE</h2>

	<p>izir.tld est le site internet marchand du magasin: Go Sport Pontivy.</p>
	<p>izir.tld n’a pas pour objet de représenter d’autres marques que celles qu'il distribue. Malgré tout le soin apporté aux mises à jour du site, les photos et informations présentées ne sont pas contractuelles. Il appartient à l’internaute de vérifier les informations auprès des personnes / sociétés concernées par les articles.</p>
	<p>En outre, le vélo est une activité à risque et il appartient à chacun de la pratiquer de façon responsable. Toutes les informations fournies sur ce site le sont à titre indicatif (itinéraires, dates des évènements, caractéristiques matériel…) et la responsabilité de izir.tld et/ou de son propriétaire ne seraient être recherchées en cas d’accident ou de préjudice liés à l’utilisation des informations données sur le site.</p>
	<p>L’utilisateur reconnaît avoir pris connaissance des présentes et s’engage à les respecter.</p>
	<p>L’utilisateur déclare savoir que l’Internet est un réseau mondial associant des ressources de télécommunication et des ordinateurs serveurs et clients, destiné à l’échange de messages électroniques, d’informations multimédias et de fichiers. Il fonctionne en utilisant un protocole commun qui permet l’acheminement de proche en proche de messages découpés en paquets indépendants. L’accès au réseau est ouvert à tout utilisateur ayant obtenu une adresse auprès d’un organisme accrédité. La gestion est décentralisée en réseaux interconnectés.</p>

	<h2>IV. RESPONSABILITÉ</h2>

	<p>Malgré tout le soin apporté à notre politique de partenariat, la société REF SPORT PONTIVY décline toute responsabilité sur le contenu des sites liés à izir.tld ; Notre responsabilité ne pourra être recherchée au sujet des liens hypertextes mis en place en direction d’autres ressources présentes sur le réseau de l’Internet ou provenant du réseau vers izir.tld</p>
	<p>Les utilisateurs et/ou visiteurs de izir.tld peuvent mettre en place des hyperliens en direction de ce site sous leur seule responsabilité, à la condition expresse que les dits liens n’aient pas pour objectif de nuire à l’intégrité, à la réputation ou au référencement de izir.tld</p>
	<p>En cliquant sur un lien hypertexte externe, l’internaute reconnaît qu’il change de site et que dès lors, l’ensemble des informations disponibles sur les sites auxquels il a accès ne relève plus des présentes.</p>
	<p>La société REF SPORT PONTIVY ne propose aucune garantie quant à la fiabilité ou au fonctionnement de ce service. REF SPORT PONTIVY ne peut en aucun cas être tenue pour responsable de tous dommages quels qu’ils soient, y compris mais non de façon limitative, des dommages directs, indirects, accessoires ou incidents, des pertes de bénéfices ou de l’interruption d’activité, résultant de l’utilisation ou de l’impossibilité d’utilisation de ce service.</p>

	<h2>V. CONFIDENTIALITÉ</h2>

	<p>Conformément à la loi du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés et à l’article 43 de la loi du 30 septembre 1986 modifiée, ce site web a fait l’objet d’une déclaration auprès de la Commission Nationale Informatique et Libertés (CNIL). Nos bases de données sont déclarées sous le N°1675833.</p>
	<p>L’utilisateur est informé que, lors de ses visites sur izir.tld un cookie peut s’installer automatiquement sur son logiciel de navigation.</p>
	<p>Le cookie est un bloc de données qui ne permet pas d’identifier l’utilisateur mais sert à enregistrer des informations relatives à la navigation de celui-ci sur le site. L’utilisation de ces cookies a pour finalité de fluidifier la navigation sur le site.</p>
	<p>Nous vous informons que vous pouvez vous opposer à l’enregistrement de cookies en configurant votre navigateur de la manière suivante :</p>
	<p>Pour Microsoft Internet Explorer 6.0 : <br>

	1. Choisissez le menu “Outils” (ou “Tools”), puis “Options Internet” (ou “Internet Options”)<br>
	2. Cliquez sur l’onglet “Confidentialité” (ou “Confidentiality”)<br>
	3. Sélectionnez le niveau souhaité à l’aide du curseur</p>
	<p>Pour Microsoft Internet Explorer 5 :<br>

	1. Choisissez le menu “Outils” (ou “Tools”), puis “Options Internet” (ou “Internet Options”)<br>
	2. Cliquez sur l’onglet “Sécurité” (ou “Security”)<br>
	3. Sélectionnez “Internet” puis “Personnaliser le niveau” (ou “CustomLevel”)<br>
	4. Repérez la rubrique “cookies” et choisissez l’option qui vous convient</p>
	<p>Pour Netscape 6.X et 7. X :<br>
	1. Choisissez le menu “Edition” > “Préférences”<br>
	2. Confidentialité et Sécurité<br>
	3. Cookies</p>
	<p>Pour Firefox :<br>

	1. choisissez le menu “Outils” > “Options”<br>
	2. Cliquez sur l’option “Vie privée”<br>
	3. Rubrique “Cookies”</p>
	<p>Pour Opéra 6.0 et au-delà :<br>

	1. choisissez le menu “Fichier” > “Préférences”<br>
	2. Vie Privée</p>
</div>