<div class="header container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Sécurité</h1>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">
	<div class="row">
        <div class="col-lg-4">
          <img class="img-fluid" src="/img/text4567.png" alt="Certificat SSL" width="140" height="140">
          <h2>Certificat SSL</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="https://www.heroku.com/" role="button">Site du prestataire »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-fluid" src="/img/path3735.png" alt="Hébergement des documents sécurisé" width="140" height="140">
          <h2>Hébergement des documents sécurisé</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="https://cloudinary.com" role="button">Site du prestataire »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-fluid" src="/img/rect3737.png" alt="Paiement sécurisé" width="140" height="140">
          <h2>Paiement sécurisé</h2>
          <p></p>
          <p><a class="btn btn-secondary" href="https://stripe.com/fr" role="button">Site du prestataire »</a></p>
        </div><!-- /.col-lg-4 -->
    </div>
    <div class="row">
    	<div class="col-sm-12">
    		<h2>Certificat SSL </h2>
    		<p>Le SSL (Secure Socket Layer) est le protocole de sécurité le plus répandu qui créé un canal sécurisé entre deux machines communiquant sur Internet ou un réseau interne.</p>
    		<p>Notre prestataire "Heroku by SalesForce" sécurise la connection de votre ordinateur à nos serveurs web avec un cryptage de 128 bits. Les pages de paiement sont notamment chiffrées avant leur transmission sur Internet et leur transit d'ordinateurs à ordinateurs, ce qui rend impossible leur visualisation par des personnes non autorisées. Ce protocole de sécurité utilise également la norme HTTPS (au lieu du HTTP) depuis les serveurs www.event.izir.fr. Lors de l'étape de paiement, il est possible de le vérifier en visualisant les informations de sécurité dans la barre d'adresse de votre navigateur. <br> Heroku est la solution d'hébergement choisi par: Toyota, Malwarebytes, Macys, IFTTT, ...</p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-12">
    		<h2>Hébergement des documents sécurisé </h2>
    		<p>Cloudinary utilise une techonologie cloud de haute sécurité, accessible et authentifié via des APIs HTTPS sécurisé. Tous les fichiers sont automatiquement sauveragrder sur un second serveur protégé. L'accès aux fichiers se fait via des urls en HTTPS. <br> Cloudinary est la solution d'hébergement choisi par des entreprises internationales comme: Red Bull, Ebay, Netflix, Dropbox, Sky news, ...</p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-12">
    		<h2>Paiement sécurisé </h2>
    		<p>Stripe est une société américaine d'origine irlandaise, destinée au paiement par internet pour particuliers et professionnels.Stripe est une solution de paiement tierce, qui permet d'accepter les paiements par carte de crédit. C'est une solution sûre et rapide qui respecte les critères de sécurité les plus stricts en vigueur dans l'industrie. Stripe est certifié Fournisseur de service PCI Niveau 1. <br> Stripe est la solution de paiement choisi par des géants de l'industrie numérique: Drivy, Heetch, Deliveroo, Lyft, ...</p>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-12">
    		<h2>Déclaration CNIL </h2>
    		<p>Le traitement des données personnelles et confidentielles stockées par Event Izir ont conformément à la loi « Informatique et Libertés », fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) sous le numéro de récépissé 2011834. Toute personne y figurant a ainsi un droit permanent d’accès et de rectification sur toutes les données le concernant, conformément aux textes européens et aux lois nationales en vigueur (loi du 6 janvier 1978).</p>
    	</div>
    </div>
</div>