<div class="header container-fluid">
	<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Tarifs</h1>
      <p class="text-light">Une tarification unique et économique</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
      	<h3>solution de billetterie et d'inscription</h3>
      	<h2>0,50€</h2>
      	<p>TTC /inscription payée en ligne</p>
      </div>
    </div>
    <div class="col-md-6">
    	<div class="jumbotron">
    		<p>Des frais de dossier de 0,50€ sont ajoutés pour chaque inscription avec paiement en ligne, dès 0€. Les frais dossier couvrent les frais bancaires, ils ne sont pas reversés à l'organisateur.</p>
    	</div>
    </div>
  </div>
  <div class="row">
  	<div class="col-12 text-center">
    	<h4>Les + Event Izir pour les organisateurs</h4>
    	<ul>
        <li>+ La plateforme d'inscription en ligne la moins cher.</li>
    		<li>+ Sans abonnement, sans engagement, sans commision et sans frais d'installation.</li>
    		<li>+ Frais de dossier unique de 0,50€ par inscription payés par le participant.</li>
    		<li>+ Pas de frais supplémentaire.</li>
    	</ul>
  	</div>
  </div>
</div>