<div class="container-fluid header d-flex">
	<div class="jumbotron">
		<h1 class="col-lg-12 txt-white">Inscrivez-vous en ligne a votre prochaine épreuve sportive</h1>
		<span class="h5 col-lg-12 txt-white mt-5 d-block">Running, Trail, triathlon, Billetterie ... <br>la course commence ici !</span>
	</div>		
</div>
<div class="container">
	<div class="row mt-5 mb-5">
		<div class="col-10 mx-auto">
			<span class="h2 text-center d-block">Que voulez-vous faire ?</span>
			<div class="row mt-5">
				<div class="col-md-6 mt-2">
					<a class="explore-link" href="/event/finder">
						<i class="fa fa-calendar-o fa-2 mr-2" aria-hidden="true"></i>M'inscrire à une épreuve
					</a>
				</div>
				<div class="col-md-6 mt-2">
					<a class="explore-link" href="/event/create">
						<i class="fa fa-calendar-plus-o fa-2 mr-2" aria-hidden="true"></i>Ajouter une épreuve
					</a>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- <div class="container-fluid mb-5 bg-light">
	<div class="row">
	  <div class="col-12 text-center">
	    <h2 class="text-center mt-3">L'inscription du moment</h2>
	    <a href="/event/5b55ae63c6d18f00243cb6b2">
	    	<img src="/img/home-banner/lande-ocean.png" class="img-fluid w-75" alt="/">
	    </a>
	  </div>
	</div>
</div> -->
<div class="container-fluid bg-light text-center mt-5">
	<div class="row">
	  <div class="col-12">
	    <h2 class=" spacer-lg-top">Vous êtes un organisateur ?</h2>
	    <p><strong>Profitez de notre service d'inscription en ligne 100% gratuit pour vous</strong></p>
	  </div>
	</div>
	<div class="row spacer-xs-top">
		<div class="col-6 mx-auto">
			<p>Récupération des certificats médicaux, Paiement sécurisé, Fichier de chronométrage compatible GmCAP, ... </p>
			<div class="row spacer-md-top">
				<div class="col-6 mx-auto">
			      <a href="/info/entreprise" class="btn btn-secondary">Qui sommes nous ?</a>
				</div> 
				<div class="col-6 mx-auto">
			      <a href="/event/create" class="btn btn-secondary spacer-lg-bottom">Ajouter un évènement</a>
				</div>   					
			</div>
		</div>
	</div>
</div>