<div class="header container-fluid">
	<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Contact</h1>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">
	<h2>Izir.fr</h2>
	<p>
		35 rue Albert de Mun <br>
		56300 Pontivy <br>
<br>
		De 10 à 12h et de 14h à 18h du lundi au samedi<br>
		+33 (0)2 97 250 409<br>
		E-mail: <a href="mailto: serviceclient@izir.fr">serviceclient@izir.fr</a>
	</p>
</div>