<div class="header container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">La presse parle de nous</h1>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">
	<div class="row">
		<figure class="figure">
		  <img src="/img/eventizir_pontivyjournal.jpg" class="figure-img img-fluid rounded" alt="Article du 12/10/2017 dans le Pontivy Journal">
		  <figcaption class="figure-caption">Article du 12/10/2017 dans le Pontivy Journal</figcaption>
		</figure>
	</div>
</div>