<div class="header container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Les partenaires Event Izir</h1>
    </div>
  </div>
</div>
<div class="container spacer-lg-top">
	<div class="album text-muted">
      <div class="container">
		<div class="row">
			<div class="col-sm-3">
				<figure class="figure">
				  <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/16406901_789380927879326_7560161299923337104_n.png?oh=d561af85339775e2c7356d06737e9fe8&oe=5A7D836E" class="figure-img img-fluid rounded" alt="La littorale 56">
				  <figcaption class="figure-caption">La littorale 56, épreuve de plus 7 000 participants pour lutter contre le cancer</figcaption>
				</figure>
			</div>
			<div class="col-sm-3">
				<figure class="figure">
				  <img src="https://www.ouest-france.fr/sites/default/files/styles/image-640x360/public/2014/09/11/gael-le-bellec-la-nouvelle-sensation-du-duathlon.jpg?itok=2cjdZQCO" class="figure-img img-fluid rounded" alt="Gaël Le Bellec">
				  <figcaption class="figure-caption">Gaël Le Bellec, double champion du monde de duathlon</figcaption>
				</figure>
			</div>
			<div class="col-sm-3">
				<figure class="figure">
				  <img src="https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/19554040_1507452442640728_6385422857061569783_n.jpg?oh=c28b7ac51221a4e235cfbfc6f9ecdcab&oe=5A674377" class="figure-img img-fluid rounded" alt="Runner breizh">
				  <figcaption class="figure-caption">Runner Breizh, site internet qui regroupe les résultats des courses à pieds et Triathlons Bretons.</figcaption>
				</figure>
			</div>
			<div class="col-sm-3">
				<figure class="figure">
				  <img src="http://www.triskell-challenge-trail.bzh/images/aricles17/Essai-logo-V2bis200.png?5a2d7b6f" class="figure-img img-fluid rounded" alt="Runner breizh">
				  <figcaption class="figure-caption">Le Triskell Challenge Trail, est un challenge de 10 courses Trail en centre pretagne.</figcaption>
				</figure>
			</div>			
		</div>
      </div>
    </div>
</div>